@import './base.css';
@import './fonts.css';


@font-face {
    font-family: 'Fira Mono';
    src: url('@/assets/fonts/FiraMono/FiraMono-Regular.ttf') format('truetype')
}

#app {
    @apply flex max-h-screen min-h-screen w-screen overflow-hidden;
    color: #2c3e50;
    font-family: 'Fira Mono', monospace;
}
